<div class="login-main">
    <app-top-bar [currentView]="topBarView.GENERIC"></app-top-bar>
    <div class="center">
        <form class="login-form">
            <mat-form-field>
                <input (keydown.enter)="login()" name="email" [(ngModel)]="email" matInput type="email"
                    placeholder="Email" />
            </mat-form-field>
        </form>
        <form class="login-form">
            <mat-form-field>
                <input (keydown.enter)="login()" name="password" [(ngModel)]="password" matInput
                    [type]="this.hidePswd ? 'password' : 'text'" placeholder="Password" />
                <mat-icon (click)="this.hidePswd = !this.hidePswd">
                    {{ this.hidePswd ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </mat-form-field>
        </form>
        <div class="reset-or-register">
            <p class="handCursor" (click)="clickResetPassword()">
                Reset password
            </p>
            <p>/</p>
            <p class="handCursor" (click)="clickRegister()">Register</p>
        </div>
        <button mat-raised-button color="primary" class="gl-rounded-corner" (click)="login()">Login</button>
        <mat-error class="on-err">{{ this.errorMessage }}</mat-error>
    </div>
    <app-footer></app-footer>
</div>