.login-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.center {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
}

.login-form {
    margin: 0;
    padding: 0;
}

.login-form mat-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.reset-or-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reset-or-register p:first-child {
    margin-right: 5px;
}

.reset-or-register p:last-child {
    margin-left: 5px;
}

.handCursor {
    cursor: pointer;
}

.handCursor:hover {
    text-decoration: underline;
}

.on-err {
    font-size: xxx-small;
    max-width: 350px;
    word-wrap: break-word;
    color: red;
}
