.post {
    max-width: 400px;
    min-width: 400px;
    width: 400px;
    min-height: 400px;
    cursor: pointer;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}