<mat-card class="post">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>Posted by {{author}} at {{creationDate}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="img-circle" *ngIf="imageSource" [src]="imageSource" alt="{{title}}">
</mat-card>