/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "@angular/material/prebuilt-themes/indigo-pink.css"; */
@import 'assets/styles/global.css';

html,
body {
    height: 100%;
}
body {
    background-color: azure;
    margin: 0;
    font-family: 'Courier', Roboto, 'Helvetica Neue', sans-serif;
}