#register-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.up-center-text {
    padding: 0;
    margin: 0;
    margin: 0 auto;
    font-size: 1.5em;
}

.center-content {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: column;
}

.form {
    width: 100%;
    margin: 0;
    padding: 0;
}

.form mat-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

#on-err {
    font-size: medium;
    max-width: 200px;
    word-wrap: break-word;
    color: red;
}

.reset-or-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reset-or-login p:first-child {
    margin-right: 5px;
}

.reset-or-login p:last-child {
    margin-left: 5px;
}

.handCursor {
    cursor: pointer;
}
