<div id="register-main">
    <app-top-bar [currentView]="topBarView.GENERIC"></app-top-bar>

    <div class="up-center-text" [ngSwitch]="this.currentRegisterState">
        <p *ngSwitchCase="registerAccountState.CONFIRM_EMAIL_CODE"> Enter the code which was sent to {{this.email}}
            for finishing the registration process </p>
    </div>

    <div class="center">

        <div [ngSwitch]="currentRegisterState">
            <div class="center-content" *ngSwitchCase="registerAccountState.ENTER_CREDENTIALS">
                <form class="form" [formGroup]="enterCredentialsForm">
                    <mat-form-field>
                        <input matInput type="email" (keyup.enter)="register()" placeholder="Email"
                            formControlName="email" />
                        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                            <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
                            <mat-error *ngIf="f.email.errors.email">Invalid email address</mat-error>
                        </div>
                    </mat-form-field>
                </form>
                <form class="form" [formGroup]="enterCredentialsForm">
                    <mat-form-field>
                        <input matInput type="text" (keyup.enter)="register()" placeholder="Username"
                            formControlName="username" />
                        <div *ngIf="f.username.touched && f.username.invalid" class="alert alert-danger">
                            <mat-error *ngIf="f.username.errors.required">Username is required</mat-error>

                            <mat-error *ngIf="f.username.errors.minlength">Username must have more than 2 characters
                            </mat-error>
                        </div>
                    </mat-form-field>
                </form>
                <form class="form" [formGroup]="enterCredentialsForm">
                    <mat-form-field>
                        <input matInput (keyup.enter)="register()" [type]="this.hidePswd0 ? 'password' : 'text'"
                            placeholder="Password" formControlName="password0" />
                        <mat-icon (click)="this.hidePswd0 = !this.hidePswd0">
                            {{ this.hidePswd0 ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                    </mat-form-field>
                </form>
                <form class="form" [formGroup]="enterCredentialsForm">
                    <mat-form-field>
                        <input matInput (keyup.enter)="register()" [type]="this.hidePswd1 ? 'password' : 'text'"
                            placeholder="Confirm Password" formControlName="password1" />
                        <mat-icon (click)="this.hidePswd1 = !this.hidePswd1">
                            {{ this.hidePswd0 ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                    </mat-form-field>
                </form>
                <button class="gl-rounded-corner" mat-raised-button color="primary" type="submit"
                    (keyup)="onKeyUp($event)" (click)="register()">
                    Register
                </button>
                <div class="reset-or-login handCursor">
                    <p (click)="clickResetPassword()">
                        Reset password
                    </p>
                    <p>/</p>
                    <p (click)="clickLogin()">Login</p>
                </div>
            </div>
            <div class="center-content" *ngSwitchCase="registerAccountState.CONFIRM_EMAIL_CODE">
                <form [formGroup]="confirmEmailCodeForm">
                    <mat-form-field>
                        <input matInput formControlName="code" placeholder="Confirm the email code">
                        <div *ngIf="f.code.touched && f.code.invalid" class="alert alert-danger">
                            <mat-error *ngIf="f.code.errors.required">Email code is required</mat-error>
                        </div>
                    </mat-form-field>
                </form>
                <button class="gl-rounded-corner" mat-raised-button color="primary" type="submit"
                    (keyup)="onKeyUp($event)" (click)="confirmCode()">Confirm</button>
            </div>
            <mat-error id="on-err">{{ this.errorMessage }}</mat-error>
        </div>
    </div>
    <app-footer></app-footer>
</div>