<div id="reset-credentials-main">
    <div [ngSwitch]="currentState">
        <div *ngSwitchCase="resetPasswordStateEnum.CODE_STATE">
            <app-top-bar [text]="'Please enter the email associated with your account then verify your email inbox'"
                [currentView]="topBarView.RESET_PASSWORD"></app-top-bar>
        </div>
        <div *ngSwitchCase="resetPasswordStateEnum.NEW_PASSWORD_STATE">
            <app-top-bar [text]="'Please enter your new password'" [currentView]="topBarView.RESET_PASSWORD">
            </app-top-bar>
        </div>
    </div>

    <div class="center">
        <div class="center-first-div" [ngSwitch]="currentState">
            <div class="center-second-div" *ngSwitchCase="resetPasswordStateEnum.CODE_STATE">
                <form class="form" [formGroup]="form">
                    <mat-form-field>
                        <input matInput type="email" placeholder="Email address" formControlName="email"
                            (keyup)="clickEnter($event)" />
                        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                            <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
                            <mat-error *ngIf="f.email.errors.email">Invalid email address</mat-error>
                        </div>
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary" class="gl-rounded-corner" type="submit"
                    [disabled]="f.email.invalid" (click)="clickCodeStateBtn()">
                    Send code
                </button>
                <div class="login-or-register">
                    <p class="handCursor" (click)="clickLogin()">
                        Login
                    </p>
                    <p>/</p>
                    <p class="handCursor" (click)="clickRegister()">Register</p>
                </div>
                <mat-error id="on-err" *ngIf="this.errorMessage !== undefined">{{this.errorMessage}}</mat-error>
            </div>

            <div class="center-second-div" *ngSwitchCase="resetPasswordStateEnum.NEW_PASSWORD_STATE">
                <form class="form" [formGroup]="form">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Enter the received code"
                            formControlName="codeValidator" />
                        <div *ngIf="
                                f.codeValidator.touched &&
                                f.codeValidator.invalid
                            " class="alert alert-danger">
                            <mat-error *ngIf="f.codeValidator.errors.required">Email code is required</mat-error>
                        </div>
                    </mat-form-field>
                </form>
                <form class="form" [formGroup]="form">
                    <mat-form-field>
                        <input matInput [type]="this.hidePswd1 ? 'password' : 'text'" placeholder="New password"
                            formControlName="password0" />
                        <mat-icon (click)="this.hidePswd1 = !this.hidePswd1">
                            {{
                                this.hidePswd1 ? 'visibility_off' : 'visibility'
                            }}
                        </mat-icon>
                        <div *ngIf="f.password0.touched && f.password0.invalid" class="alert alert-danger">
                            <mat-error *ngIf="f.password0.errors.minlength">Password is too short</mat-error>
                            <mat-error *ngIf="f.password0.errors.maxlength">Password is too long</mat-error>
                            <mat-error *ngIf="f.password0.errors.required">Enter new password</mat-error>
                        </div>
                    </mat-form-field>
                </form>
                <form class="form" [formGroup]="form">
                    <mat-form-field>
                        <input matInput [type]="this.hidePswd2 ? 'password' : 'text'" placeholder="Retype new password"
                            formControlName="password1" />
                        <mat-icon (click)="this.hidePswd2 = !this.hidePswd2">
                            {{
                                this.hidePswd2 ? 'visibility_off' : 'visibility'
                            }}
                        </mat-icon>
                        <div *ngIf="f.password1.touched && f.password1.invalid" class="alert alert-danger"
                            class="alert alert-danger">
                            <mat-error *ngIf="f.password1.errors.maxlength">Password is too long</mat-error>
                            <mat-error *ngIf="f.password1.errors.minlength">Password is too short</mat-error>

                            <mat-error *ngIf="f.password1.errors.required">Enter new password</mat-error>
                        </div>
                    </mat-form-field>
                </form>
                <button mat-raised-button color="primary" class="gl-rounded-corner" type="submit"
                    [disabled]="!this.form.valid" (keyup)="clickEnter($event)" (click)="clickNewPasswordBtn()">
                    Confirm
                </button>
                <mat-error id="on-err" *ngIf="this.errorMessage !== undefined">{{this.errorMessage}}</mat-error>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>