#reset-credentials-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.center-first-div {
    width: auto;
    display: flex;
    margin: auto;
}

.center-second-div {
    display: flex;
    flex-direction: column;
}

.form {
    padding: 0;
    margin: auto;
}

.form mat-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

#on-err {
    font-size: medium;
    max-width: 250px;
    word-wrap: break-word;
    color: red;
    margin: auto;
}

.login-or-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-or-register p:first-child {
    margin-right: 2px;
}

.login-or-register p:last-child {
    margin-left: 2px;
}

.handCursor {
    cursor: pointer;
}

.handCursor:hover {
    text-decoration: underline;
}