<div class="d-flex flex-column w-100 h-100 cdk-drag-handle cdk-drag" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle>
    <mat-toolbar color="primary">
        <span> Create new post </span>
        <span class="spacer"></span>
        <button mat-icon-button class="gl-disable-outline" aria-label="Close dialog" matTooltip="Close dialog"
            mat-dialog-close>
            <mat-icon style="font-size: 20px;">close</mat-icon>
        </button>
    </mat-toolbar>
    <div mat-dialog-content class="d-flex flex-column h-100">
        <mat-form-field appearance="outline" class="w-100 mt-3">
            <mat-label>Title</mat-label>
            <input [formControl]="title" matInput required>
            <mat-error *ngIf="title.invalid">{{getTitleErrorMessage()}}</mat-error>
        </mat-form-field>
        <label class="mt-3">
            <span>Select Image*: </span>
            <input #imageInput type="file" accept="image/*" (change)="selectImage(imageInput)" required>
            <mat-error *ngIf="selectedFileFormControl.invalid && selectedFileFormControl.touched">
                {{getSelectedImageErrorMessage()}}</mat-error>
        </label>
        <div class="w-100 h-100 d-flex justify-content-center align-content-center">
            <img [src]="imageURL" width="256" height="256" *ngIf="imageURL">
        </div>
        <mat-error *ngIf="imageExecedesMaximumSize">
            {{checkSelectedImageSizeErrorMessage()}}</mat-error>
        <mat-form-field appearance="fill" class="w-100 mt-3">
            <mat-label>Description</mat-label>
            <textarea [formControl]="description" matInput cdkTextareaAutosize
                cdkAutosizeMinRows="5"></textarea>
        </mat-form-field>
        <mat-form-field class="w-100 mt-3">
            <mat-chip-list #chipList aria-label="Tag selection">
                <mat-chip *ngFor="let tag of tagList" [removable]="true" (removed)="removeTag(tag)">
                    {{tag}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [formControl]="chips" placeholder="Add tag *" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addTag($event)" required>
                <mat-error *ngIf="chips.invalid && chips.touched">{{getChipsErrorMessage()}}</mat-error>
            </mat-chip-list>
        </mat-form-field>
    </div>
    <div mat-mat-dialog-actions class="d-flex align-items-end justify-content-end mt-3">
        <button class="gl-rounded-corner gl-disable-outline" color="primary" mat-raised-button
            (click)="onFinishBtnClick()" matTooltip="Close dialog">Finish</button>
    </div>
</div>