.main-component {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.toolbar-reset {
    display: flex;
}

.toolbar-reset > img {
    justify-content: flex-start;
}

.toolbar-reset > p {
    margin-left: auto;
    margin-right: auto;
}

.title-icon {
    width: 96px;
    height: 96px;
}

.search-post-form {
    min-width: 150px;
    max-width: 35%;
    width: 100%;
}
.search-post-form > mat-form-field {
    width: 100%;
}

.login-register-btns > button:first-child {
    margin-right: 5px;
}

.search-icon {
    cursor: pointer;
    font-size: 24px;
}