<div class="main-component">
    <div [ngSwitch]="this.currentView">
        <div *ngSwitchCase="topBarView.GENERIC">
            <ng-container *ngTemplateOutlet="generic"></ng-container>
        </div>
        <div *ngSwitchCase="topBarView.RESET_PASSWORD">
            <ng-container *ngTemplateOutlet="resetPassword"></ng-container>
        </div>
        <div *ngSwitchCase="topBarView.HOME">
            <ng-container *ngTemplateOutlet="home"></ng-container>
        </div>
    </div>
</div>

<ng-template #resetPassword>
    <mat-toolbar class="toolbar-reset" color="primary">
        <img class="title-icon" src="/assets/imgs/logo.png">
        <p>{{this.text}}</p>
    </mat-toolbar>
</ng-template>

<ng-template #generic>
    <mat-toolbar class="toolbar" color="primary">
        <img class="title-icon" src="/assets/imgs/logo.png">
    </mat-toolbar>
</ng-template>

<ng-template #home>
    <mat-toolbar class="toolbar" color="primary">
        <img class="title-icon" src="/assets/imgs/logo.png">

        <form class="search-post-form">
            <mat-form-field>
                <input matInput (keydown.enter)="onInputSearchType()" type="search" #searchInput>
                <mat-icon class="search-icon" (click)="clickedSearchIcon()" matSuffix matTooltip="Search post">search
                </mat-icon>
            </mat-form-field>
        </form>

        <div *ngIf="isLoggedIn; else notLoggedIn">
            <button class="gl-disable-outline" mat-icon-button aria-label="Notification" matTooltip="Check notifications">
                <mat-icon>notifications</mat-icon>
            </button>
            <button class="gl-disable-outline" (click)="onNewPostClick($event)" mat-icon-button aria-label="Create new post"
                matTooltip="Add new post">
                <mat-icon>add_circle</mat-icon>
            </button>
            <button class="gl-disable-outline" mat-icon-button aria-label="Account button" matTooltip="Account settings">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button class="gl-disable-outline" (click)="clickedLogout()" mat-icon-button aria-label="Logout" matTooltip="Logout">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
        <ng-template #notLoggedIn>
            <div class="login-register-btns">
                <button class="gl-rounded-corner gl-disable-outline" mat-raised-button aria-label="Login button"
                    matTooltip="Click to login" (click)="clickLogin()">
                    LOGIN
                </button>
                <button class="gl-rounded-corner gl-disable-outline" mat-raised-button aria-label="Register button"
                    matTooltip="Click to register" (click)="clickRegister()">
                    REGISTER
                </button>
            </div>
        </ng-template>
    </mat-toolbar>
</ng-template>