<div class="home">
    <app-top-bar #topbar [currentView]="topBarView.HOME"></app-top-bar>
    <div class="d-flex w-100 h-100 flex-column posts">
        <div *ngIf="showLoadingSpinner; else showPosts"
            class="d-flex w-100 h-100 justify-content-center align-items-center">
            <mat-spinner></mat-spinner>
        </div>
    </div>
    <pagination-controls class="d-flex fixed-bottom justify-content-end"
        (pageBoundsCorrection)="pageBoundsCorrection($event)" (pageChange)="pageChanged($event)"></pagination-controls>
</div>

<ng-template #showPosts>
    <div class="d-flex w-100 justify-content-center align-items-center posts-padding-bottom"
        *ngFor="let post of posts | paginate: {itemsPerPage: NUMBER_OF_POSTS_TO_DISPLAY, currentPage: currentPage, totalItems: totalNumberOfPosts}">
        <app-post [title]="post.title" [imageData]="post.imageData" [dataType]="post.dataType"
            [description]="post.description" [tags]="post.tags" [creationDate]="post.creationDate"
            [author]="post.author"></app-post>
    </div>
</ng-template>