#footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: black;
    margin-top: auto;
}

#footer a {
    color: whitesmoke;
    margin: auto;
    text-decoration: none;
}
